/* mobile first */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --background-color: #73956F;
    --primary-color: #7BAE7F;
    --secondary-color: #95D7AE;
    --font-colour: #1a1b1c;
}

/* [data-theme="dark"] { 
    --background-color: #958c6f;
    --primary-color: #aeaa7b;
    --secondary-color: #d7d095;
    --font-colour: #1a1b1c;
} */

body {
    font-family: 'Source Code Pro', monospace;
    color: var(--font-colour);
    background-color: var(--background-color);
    margin: 0;
    margin-top: 3.7rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.7rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav {
    position: fixed;
    align-items: center;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 2rem;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, var(--background-color) 49%, rgba(155, 100, 5, 0) 83%);
}

form {
    width: 100%;
}

/* .form__input--color {
    background-color: var(--font-colour);
} */

.justify-center {
    justify-content: center;
}

.figure__title {
    display: block;
    margin-inline-start: 40px;
}

.center {
    display: block;
    max-width: 15rem;
    margin-right: auto;
    margin-left: auto;
}

.center_text {
    text-align: center;
}

.center-lg {
    max-width: 20rem;
}

.center-sm {
    max-width: 10rem;
}

.space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.stack-sm>*+* {
    margin-top: 0.5rem;
}

.stack-md>*+* {
    margin-top: 1rem;
}

.stack-lg>*+* {
    margin-top: 2rem;
}

.stack-xl>*+* {
    margin-top: 4rem;
}

.full-width {
    max-width: 100%;
}

.round-top-corners {
    border-radius: 50%;
}

.figure--sm {
    margin-inline: 1rem;
}

.card-shadow {
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.3), 0 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-shadow__secondary {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    /* removed border radius */
    /* idk what looked best welcome to add back in*/
}

.hr__rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin-inline: 1em;
    border-style: solid;
    box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.3), 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
}

a::before {
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 4px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

a:hover::before {
    bottom: 0;
    height: 100%;
}