/* mobile first */

/* || COLOR VARIABLES*/


:root {
    --background-color: #b0f4aa;
    --primary-color: #e4bb7d;
    --secondary-color: #ecffe6;
    --accent-color-1: #ffeaa5;
    --accent-color-2: #e3e3e3;
    --font-colour: #1a1b1c;
}



/* || GENERAL STYLES || */




body {
    font-family: 'Source Code Pro', monospace;
    color: var(--font-colour);
    background-color: var(--background-color);
    margin-top: 3.7rem;
}


/* scroll behaviour */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.7rem;
}





/* || BLOCKS / COMPONENETS || */


.nav {
    position: fixed;
    align-items: center;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 2rem;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, var(--background-color) 49%, rgba(155, 100, 5, 0) 83%);
}



.card {
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-radius: 1rem;
}

    .card--shadow {
        box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.3), 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .card--shadow__small {
        border-top: 8px solid #bbb;
        margin-inline: 1em;
        border-style: solid;
        box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.3), 0 10px 20px 0px rgba(0, 0, 0, 0.1);
        border-color: var(--primary-color);
        background-color: var(--primary-color);
    }

    .card--secondary {
        background-color: var(--secondary-color);
        --radius: 0.5rem;
        border-radius: var(--radius);
        -webkit-border-radius: var(--radius);
        -moz-border-radius: var(--radius);
        -ms-border-radius: var(--radius);
        -o-border-radius: var(--radius)
    }

input, textarea {
    color: var(--secondary-color);
    background-color: rgb(173, 166, 166);
}


/* || ELEMENTS || */



.fig--img {
    max-width: 20rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav--a {
    text-decoration: none;
    color: #18272F;
    font-weight: 600;
    position: relative;
}

    .nav--a::before {
        content: '';
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    .nav--a:hover::before {
        bottom: 0;
        height: 100%;
    }
    
    
    .nav--a__hidden{
        display: none;
        float: left;
    }

.nav--ul{
        margin-block-start: 0em;
        padding-inline-start: 0em;
    }
.nav--li {
    display: block;
}

.nav--submenu:hover{ background-color: var(--accent-color-1);}
.nav--submenu:hover > ul {
    display: block;
}



/* These classnames are JS variables */
.tab--content {
    /*styles the info on services section */
    display: none;
    background-color: #eeda98;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-top: none;
    }
    .tab--button {
    /*styles the buttons on the services section */
        background-color: #eeda98;
        border: none;
        padding: 0.5rem;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-bottom: none;
    }
    .tab--button:hover {
        background-color: var(--accent-color-2);
      }
    
    .active {
    /*sets the background colour of the active tab to be slightly brighter*/
        background-color: var(--accent-color-1);
    }





.form--submit {
    background-color: var(--primary-color);
    margin-top: 0.5rem;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    padding-inline: 1em;
}

    .form--submit:hover {
        background-color: rgb(63, 164, 63);
        outline-style: solid;
        outline-width: 0.1em;
        outline-color: whitesmoke;

    }

    .form--labels {
        display: block;
        margin-left: 0.5em;
    }

.form--fields {
    display: block;
    padding-inline: 1ch;
    margin: 0;

    font-family: inherit;
    font-weight: inherit;
    border: none;
    border-radius: 0.4rem;
}

.fieldset__no-border {
    border: none;
}

.fieldset__round-corners {
    border-radius: 1rem;
}
/* || TYPOGRAPHY || */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


h1 {
    /* Moves the heading so it isn't obscured
    by the nav bar */
    margin: 0;
    margin-top: 3.7rem;
}


.center_text {
    text-align: center;
}

/* || LAYOUT PRIMITIVES */



/* Justify */


.row {
    display: flex;
    gap: 0.5rem;
}
    .row__nogap {
        gap: 0rem;
    }

.row__wrap {
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-center {
    justify-content: center;
}


.space-around {
    justify-content: space-around;
}


.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}





/* Center */


.full-width {
    box-sizing: border-box;
    width: 100%;
}


.center {
    display: block;
    max-width: 15rem;
    margin-right: auto;
    margin-left: auto;
}


.center-lg {
    max-width: 20rem;
}


.center-sm {
    max-width: 10rem;
}




/* Stacks */

.stack-xs>*+* {
    margin-top: 0.3rem;
}

.stack-sm>*+* {
    margin-top: 0.5rem;
}


.stack-md>*+* {
    margin-top: 1rem;
}


.stack-lg>*+* {
    margin-top: 2rem;
}


.stack-xl>*+* {
    margin-top: 4rem;
}

@media only screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1rem; 
      }
}

/* || STYLES GRAVEYARD || */



/* Put styles we're experimenting with here and comment them out */

/* .section--title {
    display: block;
    margin-inline-start: 40px;
} */

/* .form__input--color {
    background-color: var(--font-colour);
} */

/* 
    [data-theme="dark"] { 
    --background-color: #958c6f;
    --primary-color: #aeaa7b;
    --secondary-color: #d7d095;
    --font-colour: #1a1b1c;
} */